################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.targets
*.vsidx
*.lock
*.wsuo
/.vs/BookingCom/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest
*.v2
*.suo
*.1
*.json
*.sqlite
/APIHelper/bin/Debug/net7.0
/APIHelper/obj/Debug/net7.0
/APIHelper/obj
/Booking.PageObjects/bin/Debug/net7.0
/Booking.PageObjects/bin/Debug/netcoreapp3.1/Framework.runtimeconfig.dev.json
/Booking.PageObjects/bin/Debug/netcoreapp3.1/Booking.PageObjects.dll
/Booking.PageObjects/bin/Debug/netcoreapp3.1/Booking.PageObjects.pdb
/Booking.PageObjects/bin/Debug/netcoreapp3.1/Framework.dll
/Booking.PageObjects/bin/Debug/netcoreapp3.1/Framework.pdb
/Booking.Tests/bin/Debug/net7.0/runtimes
/Booking.Tests/bin/Debug/net7.0
/Booking.PageObjects/obj/Debug/net7.0
